<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Upload Boom</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/profile">Copy Cat Recipes</a></h1>
        <span>A social network site for fast-food fans</span>
      </div>
          
      <main class="main">
        <img src="images/clipart1256.png" width="200" alt="">
        <h1>Welcome!</h1>
        <p>Deliciousness jumping into the mouth</p>
        <form class="search" action="/get/getRecipe" method="GET">
            <input class="bar" type="text" placeholder="Search Restaurant..." name="resName">
            <button><i class="fas fa-search"></i></button>
        </form>
    </main>
    </header>
  </body>
</html>
